@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@keyframes colorAnimate {
  0% {
    background: rgb(18, 41, 63);
  }
  25% {
    background: rgb(18, 42, 77);
  }
  50% {
    background: rgb(23, 42, 66);
  }
  75% {
    background: rgb(28, 49, 77);
  }
  100% {
    background: rgb(18, 41, 63);
  }
}

.animate-colorAnimate {
  animation: colorAnimate 7s infinite;
}